.function-block{
  position: absolute;
  left: 300px;
  top: 17px;
}

.function-block-item{
  display: inline-block;
  margin-right: 75px;
  font: 13px 'Roboto', sans-serif;
    font-weight: bold;
    color: #B4B1B2;
    transition-duration: 0.25s;
    transition-property: color;
    cursor: pointer;
}
.function-block-item:hover{
  color: white;
}
.today-movie{
  margin-top: 96px;
  color: white;
}

.today-movie:after{


}
/**    movie info    **/
.movie-base{
  display: inline-block;
  width: 350px;
  margin-top: 15px;
  cursor: pointer;
}
.movie-name{
  display: inline-block;
  font-weight: 500;
  width: 200px;
}
.movie-base:hover{
  color: #ffd564;
}

.movie-duration{
  display: inline-block;
  font-weight: 500;
}
.each-movie{
  margin-top: 10px;
  color: white;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.el__data{
  width: 100%;
}

.movie-session{
  float: left;
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-top: 15px;
}
.movie-duration{
  margin-left: 25px;
}
.each-movie-session{
  color: white;
  display: inline-block;
  width: calc(100% - 350px);
  height: 335px;
  margin-top: 25px;
  background-color: rgba(255,255,255,0.3);
  padding-top: 20px;
  /* text-shadow: 0 0 1px #000; */
}
.session-place{
  margin-left: 50px;
}
.session-att-rate{
  margin-left: 50px;
}
.session-time{
  margin-left: 10px;
}

/**  do it  **/
.step-title{
  margin-left: 45px;
  color: white;
  font-weight: 500;

}
.choose-movie-list{
/*  margin-top: 15px; */
  margin-left: 30px;
  width: calc(100% - 45px);
}
#add-movie-btn{
  height: 160px;
  width: 120px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 4px;
}
.each-choose-movie{
  float: left;
  height: 160px;
  width: 120px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 4px;
  /* background-color: white; */
  /* background-image: url('../../images/add.png'); */
}
.each-movie-pic{
  position: relative;
  /* margin-left: 12px; */
  height: 160px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  /* background-color: black; */
   cursor: pointer; 
}
.each-movie-name{
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 25px;
  background-color: rgba(0,0,0,0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
/*  margin-top: 5px; */
  text-align: center;
}
#confirm-btn{
  float:right;
  margin-top:25px;
  margin-bottom: 15px;
  margin-right: 30px;
  width: 100px;
}
.movie-add-btn-not{
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #fff;
}
.movie-add-btn-confirm{
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-image: url('../images/confirm.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-delete-btn{
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  cursor: pointer;
  background-image: url('../images/delete-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-delete-btn:hover{
  background-image: url('../images/delete-2.png');
}
#add-showing{
  margin-left: 45px;
  margin-top: 15px;
}

#showing-confirm-btn{
  position: absolute;
  bottom: 15px;
  right: 30px;
  width: 100px;
}
#showings{
  margin-top: 25px;
  margin-left: 45px;
}
.delete-showing-icon{
  float: left;
  margin-left: 25px;
  margin-top: 3px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-image: url('../images/delete-white.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
#complete{
  float: right;
  margin-top: 25px;
}
#do-it-tab{
  padding-bottom: 50px;
}
.showing-movie{
  width: 200px;
}
.showing-room{
  width: 200px;
  margin-left: 25px;
}
.showing-time{
  width: 200px;
  margin-left: 25px;
}
.showing-price{
  width: 200px;
  margin-left: 25px;
}
.showing-each{
  margin-top: 15px;
}

/** add Romms **/
#add-room{
  float: right;
}
#have-rooms{
  margin-left: 45px;
  color: white;
}
.each-rooms{
  display: inline-block;
  position: relative;
  height: 100px;
  width: 150px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 25px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 100px;
  font-weight: 700;
  font-size: 18px;
}
#sit-pic{
  padding-bottom: 70px;
}

#confirm-add-room-btn{
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.el:not(.s--active){
	cursor:pointer;
}

#auditoriumname:hover{
  color: #ffd564;
}
